#资源目录
VOLUMES_PATH=./volumes
# 时区
TIME_ZONE=Asia/Shanghai

#nexus
NEXUS_PORT=8081
NEXUS_VERSION=latest

# MYSQL
MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_USER=test
MYSQL_PASSWORD=123456
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

# redis
REDIS_PORT=6379

# consul
CONSUL_VERSION=latest
